@model SpotAPIFrontEnd.Models.TrackResponseViewModel
<br />

<h2>Actions for @Model.Name</h2>
<a href="#" onclick=deletePlaylist('@Model.Id')>Delete</a> | <a href="#" onclick=newPlaylist('@Model.Id')>Create a new playlist like this one</a> |  <a href="#" onclick=copyPlaylist('@Model.Id')>Copy this playlist</a>
<br />
<img src="~/Spotify_Logo_RGB_Green.png" height="70" style="margin:35px" />
<br /> 
<table class="table">
    <thead>
        <tr>
            <th>
                Artists
            </th>
            <th>
                Song Title
            </th>
            <th>
                Song Length
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model!=null)
        {
            @foreach (var item in Model.Tracks) {
                    <tr>
                        <td>
                            @foreach (var artist in item.artists)
                            {
                                @artist 
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.length)
                        </td>
                    </tr>
            }

        }
    </tbody>
</table>
