@model IEnumerable<SpotAPIFrontEnd.Models.PlaylistResponse>
<br />
<h2>Playlists</h2>
<br />
<img src="~/Spotify_Logo_RGB_Green.png" height="70" style="margin:35px" />
<br /> 

@if(Model == null)
{
    <p>Request returned no data. Click Authorize and try again. If problem persists, try clearing cookies for this site.</p>
}
else
{
   <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (!(Model == null))
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>                  
                    <td>
                        <a href="#" onclick=getTracks('@item.Id')>Get Tracks</a> | <a href="#" onclick=deletePlaylist('@item.Id')>Delete</a> | <a href="#" onclick=newPlaylist('@item.Id')>Create a new playlist like this one</a> |  <a href="#" onclick=copyPlaylist('@item.Id')>Copy this playlist</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
}
